resources/player.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="INetVODPlayerRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Version"/>
				<xs:element ref="RequestID"/>
				<xs:element ref="SessionData" minOccurs="0"/>
				<xs:element ref="RequestData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="INetVODPlayerResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RequestID"/>
				<xs:element ref="StatusCode"/>
				<xs:element ref="StatusMessage" minOccurs="0"/>
				<xs:element ref="ResponseData" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RequestType"/>
				<xs:choice>
					<xs:element ref="PingRqst"/>
					<xs:element ref="SignonRqst"/>
					<xs:element ref="SystemDataRqst"/>
					<xs:element ref="EnableAdultAccessRqst"/>
					<xs:element ref="ShowSearchRqst"/>
					<xs:element ref="ShowDetailRqst"/>
					<xs:element ref="ProviderEnrollRqst"/>
					<xs:element ref="SetProviderRqst"/>
					<xs:element ref="CheckShowAvailRqst"/>
					<xs:element ref="RentShowRqst"/>
					<xs:element ref="RentedShowListRqst"/>
					<xs:element ref="RentedShowRqst"/>
					<xs:element ref="DownloadShowListRqst"/>
					<xs:element ref="WatchShowRqst"/>
					<xs:element ref="ReleaseShowRqst"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResponseData">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ResponseType"/>
				<xs:choice>
					<xs:element ref="PingResp"/>
					<xs:element ref="SignonResp"/>
					<xs:element ref="SystemDataResp"/>
					<xs:element ref="EnableAdultAccessResp"/>
					<xs:element ref="ShowSearchResp"/>
					<xs:element ref="ShowDetailResp"/>
					<xs:element ref="ProviderEnrollResp"/>
					<xs:element ref="SetProviderResp"/>
					<xs:element ref="CheckShowAvailResp"/>
					<xs:element ref="RentShowResp"/>
					<xs:element ref="RentedShowListResp"/>
					<xs:element ref="RentedShowResp"/>
					<xs:element ref="DownloadShowListResp"/>
					<xs:element ref="WatchShowResp"/>
					<xs:element ref="ReleaseShowResp"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PingRqst"/>
	<xs:element name="PingResp"/>
	<xs:element name="SignonRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserID"/>
				<xs:element ref="Password"/>
				<xs:element ref="Player"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SignonResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="SessionData"/>
				<xs:element ref="SessionExpires"/>
				<xs:element ref="MemberState"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SystemDataRqst"/>
	<xs:element name="SystemDataResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Provider" maxOccurs="unbounded"/>
				<xs:element ref="Category" maxOccurs="unbounded"/>
				<xs:element ref="Rating" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnableAdultAccessRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Password"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EnableAdultAccessResp"/>
	<xs:element name="ShowSearchRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Search" minOccurs="0"/>
				<xs:element ref="ProviderID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="CategoryID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RatingID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="MaxResults"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowSearchResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShowSearch" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ReachedMax"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowDetailRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShowID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowDetailResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShowDetail"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProviderEnrollRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProviderID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProviderEnrollResp"/>
	<xs:element name="SetProviderRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProviderID"/>
				<xs:element ref="UserID"/>
				<xs:element ref="Password"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SetProviderResp"/>
	<xs:element name="CheckShowAvailRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShowID"/>
				<xs:element ref="ProviderID"/>
				<xs:element name="ShowCost" type="ShowCost"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CheckShowAvailResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ShowCost" type="ShowCost"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentShowRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShowID"/>
				<xs:element ref="ProviderID"/>
				<xs:element name="ApprovedCost" type="ShowCost"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentShowResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RentedShowID"/>
				<xs:element ref="License"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentedShowListRqst"/>
	<xs:element name="RentedShowListResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RentedShowSearch" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentedShowRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RentedShowID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentedShowResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RentedShow"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DownloadShowListRqst"/>
	<xs:element name="DownloadShowListResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DownloadShow" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WatchShowRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RentedShowID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="WatchShowResp">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="License"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReleaseShowRqst">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RentedShowID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReleaseShowResp"/>
	<xs:element name="Player">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ManufacturerID"/>
				<xs:element ref="ModelNo"/>
				<xs:element ref="SerialNo"/>
				<xs:element ref="Version"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MemberState">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MemberPrefs"/>
				<xs:element ref="MemberProvider" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MemberPrefs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IncludeAdult"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Provider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProviderID"/>
				<xs:element name="Name" type="Name64"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Category">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CategoryID"/>
				<xs:element name="Name" type="Name32"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Rating">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RatingID"/>
				<xs:element name="Name" type="Name32"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MemberProvider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProviderID"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowSearch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShowID"/>
				<xs:element name="Name" type="Name64"/>
				<xs:element ref="EpisodeName" minOccurs="0"/>
				<xs:element ref="ReleasedOn" minOccurs="0"/>
				<xs:element ref="ReleasedYear" minOccurs="0"/>
				<xs:element ref="ShowProvider" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowProvider">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ProviderID"/>
				<xs:element name="ShowCost" type="ShowCost" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowDetail">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ShowID"/>
				<xs:element name="Name" type="Name64"/>
				<xs:element ref="EpisodeName" minOccurs="0"/>
				<xs:element ref="EpisodeNumber" minOccurs="0"/>
				<xs:element ref="ReleasedOn" minOccurs="0"/>
				<xs:element ref="ReleasedYear" minOccurs="0"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="RunningMins" minOccurs="0"/>
				<xs:element ref="PictureURL" minOccurs="0"/>
				<xs:element ref="CategoryID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RatingID" minOccurs="0"/>
				<xs:element ref="IsAdult"/>
				<xs:element ref="ShowProvider" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentedShowSearch">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RentedShowID"/>
				<xs:element ref="ShowID"/>
				<xs:element ref="ProviderID"/>
				<xs:element name="Name" type="Name64"/>
				<xs:element ref="EpisodeName" minOccurs="0"/>
				<xs:element ref="AvailableUntil" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RentedShow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RentedShowID"/>
				<xs:element ref="ShowID"/>
				<xs:element ref="ProviderID"/>
				<xs:element name="Name" type="Name64"/>
				<xs:element ref="EpisodeName" minOccurs="0"/>
				<xs:element ref="EpisodeNumber" minOccurs="0"/>
				<xs:element ref="ReleasedOn" minOccurs="0"/>
				<xs:element ref="ReleasedYear" minOccurs="0"/>
				<xs:element ref="Description" minOccurs="0"/>
				<xs:element ref="RunningMins" minOccurs="0"/>
				<xs:element ref="PictureURL" minOccurs="0"/>
				<xs:element ref="CategoryID" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RatingID" minOccurs="0"/>
				<xs:element ref="IsAdult"/>
				<xs:element name="ShowCost" type="ShowCost"/>
				<xs:element ref="RentedOn"/>
				<xs:element ref="AvailableUntil" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DownloadShow">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RentedShowID"/>
				<xs:element ref="ShowURL"/>
				<xs:element ref="DataFileName"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Money">
		<xs:sequence>
			<xs:element ref="CurrencyID"/>
			<xs:element ref="Amount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShowCost">
		<xs:sequence>
			<xs:element ref="ShowCostType"/>
			<xs:element name="Cost" type="Money" minOccurs="0"/>
			<xs:element ref="CostDisplay"/>
			<xs:element ref="RentalWindowDays" minOccurs="0"/>
			<xs:element ref="RentalPeriodHours" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="License">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LicenseMethod"/>
				<xs:element ref="ShowURL"/>
				<xs:element ref="LicenseURL" minOccurs="0"/>
				<xs:element ref="ContentID" minOccurs="0"/>
				<xs:element ref="UserID" minOccurs="0"/>
				<xs:element ref="Password" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Version">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="16"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RequestID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SessionData">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="StatusCode" type="xs:int"/>
	<xs:element name="StatusMessage">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="1024"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RequestType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern
					value="PingRqst|SignonRqst|SystemDataRqst|EnableAdultAccessRqst|ShowSearchRqst|ShowDetailRqst|ProviderEnrollRqst|SetProviderRqst|CheckShowAvailRqst|RentShowRqst|RentedShowListRqst|RentedShowRqst|DownloadShowListRqst|WatchShowRqst|ReleaseShowRqst"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ResponseType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern
					value="PingResp|SignonResp|SystemDataResp|EnableAdultAccessResp|ShowSearchResp|ShowDetailResp|ProviderEnrollResp|SetProviderResp|CheckShowAvailResp|RentShowResp|RentedShowListResp|RentedShowResp|DownloadShowListResp|WatchShowResp|ReleaseShowResp"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="UserID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="128"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Password">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SessionExpires" type="xs:dateTime"/>
	<xs:element name="Search">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ProviderID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CategoryID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RatingID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="MaxResults" type="xs:integer"/>
	<xs:element name="ReachedMax" type="xs:boolean"/>
	<xs:element name="ShowID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RentedShowID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ManufacturerID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ModelNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SerialNo">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IncludeAdult">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="Never|PromptPassword|Always"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="Name64">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name32">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="EpisodeName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="EpisodeNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ReleasedOn" type="xs:date"/>
	<xs:element name="ReleasedYear" type="xs:short"/>
	<xs:element name="Description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RunningMins" type="xs:short"/>
	<xs:element name="PictureURL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="4384"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="IsAdult" type="xs:boolean"/>
	<xs:element name="AvailableUntil" type="xs:dateTime"/>
	<xs:element name="RentedOn" type="xs:dateTime"/>
	<xs:element name="ShowURL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="4096"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DataFileName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="128"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CurrencyID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="3"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Amount" type="xs:double"/>
	<xs:element name="ShowCostType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern
					value="Free|Subscription|PayPerView"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CostDisplay">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RentalWindowDays" type="xs:short"/>
	<xs:element name="RentalPeriodHours" type="xs:short"/>
	<xs:element name="LicenseMethod">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern
					value="URLOnly|LicenseServer"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LicenseURL">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="4096"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ContentID">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="64"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>